*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body{
    header{
        .logo{
            display: flex;
        justify-content: center;
        img{
            width: 25%;
        }
        }
        nav{
            background-color: #1bfa1baa;
        }
    }
    .principal{
        width: 100%;
        display: flex;
        .menuFiltros{
            width: 25%;
            background-color: #55ff55aa;
            text-align: center;
            .filtroColoresFlores{
                display: flex;
                flex-direction: column;
                padding: 10px 5px;
                .colorFlores{
                    display: flex;
                    justify-content: start;
                    input{
                        margin-right: 5px;
                    }
                }
            }
            .filtroTipoArbustos{
                @extend .filtroColoresFlores;
                .tipoArbusto{
                    @extend .colorFlores;
                }
            }
            .filtroTipoArboles{
                @extend .filtroTipoArbustos;
                .tipoArbol{
                    @extend .tipoArbusto;
                }
            }
        }
        .catalogoVentas{
            width: 80%;
            min-height:100vh;
        }
    }
}