* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body header {
  width: 100%;
}
body header .hidden {
  display: none;
}
body header .logo {
  display: flex;
  justify-content: center;
}
body header .logo img {
  width: 25%;
}
body header #login {
  display: flex;
  justify-content: center;
  padding: 5px;
}
body header #login #textoLog {
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
}
body header #login #botonLog {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #00aa00;
  background-color: transparent;
  color: #00aa00;
}
body header #login #botonLog:hover {
  background-color: rgba(0, 255, 0, 0.4588235294);
}
body header #login #botonLog:active {
  color: black;
}
body header #login .bienvenidoNombre {
  background-color: rgba(59, 80, 3, 0.6156862745);
  padding: 5px;
  border-radius: 5px;
}
body header #carrito {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #carrito h3 {
  color: black;
}
body header #carrito .btn-modal {
  background-color: rgba(0, 170, 0, 0.4);
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header #carrito .btn-modal:hover {
  background-color: #3c3d01;
}
body header #carrito #precioTotal {
  background-color: rgba(20, 236, 20, 0.2549019608);
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}
body header #carrito .btn-cerrar {
  background-color: rgba(60, 61, 1, 0.2);
}
body header #carrito .btn-cerrar:hover {
  background-color: #3c3d01;
}
body header #carrito .btn-vaciarCarrito {
  background-color: rgba(255, 0, 0, 0.2);
}
body header #carrito .btn-vaciarCarrito:hover {
  background-color: #ff0000;
}
body header #carrito #carritoArticulos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body header #carrito #carritoArticulos .articuloEnCarrito {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
}
body header #carrito #carritoArticulos .articuloEnCarrito p {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 5px;
}
body header #carrito #carritoArticulos .articuloEnCarrito .btnEliminarProducto {
  background-color: transparent;
  align-self: flex-start;
  border: none;
  padding: 0 5px;
}
body header #carrito #carritoArticulos .articuloEnCarrito .btnEliminarProducto i {
  color: red;
}
body header #carrito #carritoArticulos .articuloEnCarrito:hover {
  background-color: rgba(0, 170, 0, 0.1333333333);
}
body header #carrito #carritoArticulos .articuloEnCarrito:before {
  content: "";
  width: 10px;
  border-radius: 2.5px;
  background-color: #00aa00;
}
body header .navegador {
  background-color: rgba(27, 250, 27, 0.2);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px 0;
}
body header .navegador #buscador {
  border-color: #00aa00;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
  width: 50%;
  align-self: center;
}
body header .navegador .filtros {
  display: flex;
  justify-content: space-around;
}
body header .navegador .filtros .filtroColores {
  padding: 5px;
}
body .principal {
  width: 100%;
  display: flex;
  outline: hidden;
}
body .principal #catalogoVentas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body .principal #catalogoVentas .hidden {
  display: none;
}
body .principal #catalogoVentas .articulo {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin: 10px;
  align-items: center;
  text-align: justify;
  background-color: rgba(0, 255, 0, 0.4588235294);
  box-shadow: 0px 0px 10px #00aa00;
  border-radius: 7.5px;
}
body .principal #catalogoVentas .articulo h2 {
  text-align: center;
  font-size: 24px;
}
body .principal #catalogoVentas .articulo img {
  width: 70%;
  height: 35%;
  border-radius: 10px;
  align-self: center;
}
body .principal #catalogoVentas .articulo ul {
  list-style: none;
  padding: 5px;
}
body .principal #catalogoVentas .articulo .btnCompra {
  width: 200px;
  border-radius: 5px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: black;
}
body .principal #catalogoVentas .articulo .btnEliminar {
  background-color: #ff0000;
}
body .principal #catalogoVentas .articulo .sinStock {
  background-color: #ff0000;
  border: 2px solid #ff0000;
}
body .principal #catalogoVentas .articulo .sinStock:hover {
  background-color: rgba(255, 0, 0, 0.2666666667);
}
body .principal #catalogoVentas .articulo .sinStock:active {
  background-color: rgba(109, 0, 0, 0.6039215686);
  border: 2px solid #6d0000;
}
body .principal #catalogoVentas .articulo .conStock {
  background-color: #00aa00;
  border: 2px solid #00aa00;
}
body .principal #catalogoVentas .articulo .conStock:hover {
  background-color: #00aa00;
}
body .principal #catalogoVentas .articulo .conStock:active {
  background-color: #3c3d01;
  border: 2px solid #3c3d01;
}
body footer {
  background-color: #333;
  min-height: 15vh;
}/*# sourceMappingURL=style.css.map */