*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,#e4a8ec,#ff9fef);
    main{
        min-height: 100vh;
        background-image: url('../img/DEDEBeauty.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items:center;
        h1{
            background: linear-gradient(#e4a8ec,#d302b0);
            border-radius: 15px;
            padding: 20px;
            transition: all .5s ease-in-out;
            &:hover{
                transform: scale(1.5);
                letter-spacing: 45px;
            }
        }
    }

}